<div class="container">
  <h2 class="text-center">READ PLAYER</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="player.name" name="name" readonly>
    </div>
    <div class="form-group">
      <label for="numberMatches">Games</label>
      <input type="number" class="form-control" id="numberMatches" [(ngModel)]="player.numberMatches" name="numberMatches" readonly>
    </div>
    <div class="form-group">
      <label for="numberMatchesWon">Win</label>
      <input type="number" class="form-control" id="numberMatchesWon" [(ngModel)]="player.numberMatchesWon" name="numberMatchesWon" readonly>
    </div>
    <div class="form-group">
      <label for="numberMatchesLost">Lost</label>
      <input type="number" class="form-control" id="numberMatchesLost" [(ngModel)]="player.numberMatchesLost" name="numberMatchesLost" readonly>
    </div>

    <button class="btn btn-danger btn-sm" type="submit">BACK</button>

  </form>
</div>
