<div class="container">
  <h2 class="text-center">CREATE CHARACTER</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="id"> Id</label>
      <input type="text" class="form-control" id="id" [(ngModel)]="character.id" name="id">
    </div>
    <div class="form-group">
      <label for="name"> Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="character.name" name="name">
    </div>
    <div class="form-group">
      <label for="type"> Type</label>
      <input type="text" class="form-control" id="type" [(ngModel)]="character.type" name="type">
    </div>
    <div class="form-group">
      <label for="numberPointLive"> Number Point Live</label>
      <input type="text" class="form-control" id="numberPointLive" [(ngModel)]="character.numberPointLive" name="numberPointLive">
    </div>
    <div class="form-group">
      <label for="numberPointStrength"> Number Point Strength</label>
      <input type="text" class="form-control" id="numberPointStrength" [(ngModel)]="character.numberPointStrength" name="numberPointStrength">
    </div>
    <div class="form-group">
      <label for="numberPointDefense"> Number Point Defense</label>
      <input type="text" class="form-control" id="numberPointDefense" [(ngModel)]="character.numberPointDefense" name="numberPointDefense">
    </div>
    <div class="form-group">
      <label for="numberPointAgility"> Number Point Agility</label>
      <input type="text" class="form-control" id="numberPointAgility" [(ngModel)]="character.numberPointAgility" name="numberPointAgility">
    </div>
    <div class="form-group">
      <label for="quantityDice"> Quantity Dice</label>
      <input type="text" class="form-control" id="quantityDice" [(ngModel)]="character.quantityDice" name="quantityDice">
    </div>
    <div class="form-group">
      <label for="quantityFaceDice"> quantityFaceDice</label>
      <input type="text" class="form-control" id="quantityFaceDice" [(ngModel)]="character.quantityFaceDice" name="quantityFaceDice">
    </div>

    <button class="btn btn-danger btn-sm" type="submit">CREATE</button>
    <button class="btn btn-danger btn-sm" button (click)="redirectToCharacterList()" type="submit">BACK</button>

  </form>
</div>
